:root {
  --primary-color: #22232B;
  --secondary-color: #20A8D8;
  --grey-text-color: #3E515B;
  --social-icon-bg: #EDEFF4;
  --social-icon-color: #9D9FA7;
  --nav-icon-bg: #2A2C36;
  --nav-icon-color: #BDCDD6;
  --main-bg: #EDEFF4;
  --white: #fff;
}

.sidebar {
  background-color: var(--primary-color);
}
.sidebar__nav {
  background-color: var(--primary-color);
}
.sidebar__bar1, .sidebar__bar2 {
  background-color: var(--white);
}
.sidebar__nav-link {
  background-color: var(--nav-icon-bg);
}
.sidebar__nav-link:hover {
  background-color: var(--nav-icon-color);
}
.sidebar__nav-link:hover .nav-icon {
  color: var(--nav-icon-bg);
}
.sidebar .nav-icon {
  color: var(--nav-icon-color);
}

.main {
  background-color: var(--main-bg);
}
.main .blocks-item {
  background-color: var(--white);
}
.main .blocks-item__title {
  color: var(--primary-color);
}
.main .blocks-item__add-item {
  color: var(--secondary-color);
}
.main .blocks-item__add-item::after {
  background-color: var(--white);
  border-bottom: 1px solid var(--secondary-color);
}
.main .blocks-item__text-note {
  color: var(--grey-text-color);
}
.main .blocks-item__price-text {
  color: var(--primary-color);
}
.main .blocks-item__price {
  color: var(--primary-color);
}
.main .column-item__icon {
  color: var(--secondary-color);
}
.main .column-item__select {
  border: 1px solid #BDCDD6;
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2338B1DC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  color: var(--primary-color);
}
.main .column-item__label {
  background-color: var(--white);
  color: var(--primary-color);
}
.main .column-item__icon-sup {
  color: var(--secondary-color);
}
.main .column-item__text {
  color: var(--grey-text-color);
}
.main .column-item__item-price {
  color: var(--primary-color);
}
.main .column-item__item-price::after {
  background-color: var(--white);
  border-bottom: 1px dashed var(--secondary-color);
}
.main .button__item {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}
.main .button__item:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}
.main .button__item--bg {
  color: var(--white);
  background-color: var(--secondary-color);
}
.main .button__item--bg:hover {
  color: var(--primary-color);
  background-color: transparent;
}
.main__text-add {
  color: var(--grey-text-color);
}
.main__total-price {
  color: var(--primary-color);
}

.footer {
  background-color: var(--white);
}
.footer__copyright {
  color: var(--grey-text-color);
}
.footer__social-link {
  background-color: var(--social-icon-bg);
}
.footer__social-link:hover {
  background-color: var(--social-icon-color);
}
.footer__social-link:hover .social-icon {
  color: var(--social-icon-bg);
}

.nav__link {
  color: var(--primary-color);
}

.social-icon {
  color: var(--social-icon-color);
}

.menu-btn__arrow {
  color: var(--primary-color);
}/*# sourceMappingURL=styles-light.css.map */